/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local("Myriad Pro Regular"), local("Myriad-Pro-Regular"), url("../../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../../fonts/MyriadPro-Regular.woff") format("woff"), url("../../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff"), url("../../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: local("Gotham Book"), local("Gotham-Book"), url("../../fonts/Gotham-Book.woff2") format("woff2"), url("../../fonts/Gotham-Book.woff") format("woff"), url("../../fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: local("Gotham Medium"), local("Gotham-Medium"), url("../../fonts/Gotham-Medium.woff2") format("woff2"), url("../../fonts/Gotham-Medium.woff") format("woff"), url("../../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: local("Gotham Bold"), local("Gotham-Bold"), url("../../fonts/Gotham-Bold.woff2") format("woff2"), url("../../fonts/Gotham-Bold.woff") format("woff"), url("../../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #0000006b;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  padding: 0 5px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.container__content {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../../images/header.jpg);
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/header.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

.header {
  position: relative;
}

.header__section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .header__section {
    height: 115px;
  }
}

.container-line {
  position: absolute;
  border-bottom: 1px solid #222222;
  width: 100%;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .container-line {
    margin-top: 115px;
  }
}

.header__section-logo-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__section-logo-link-down {
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.749;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .header__section-logo-link-down {
    width: 67px;
    height: 67px;
    top: 12px;
    left: 12px;
  }
}

.header__section-logo-link-up {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #f5f5f5;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background-color: #11749e;
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .header__section-logo-link-up {
    font-size: 30px;
    width: 67px;
    height: 67px;
  }
}

.header__section-box {
  display: none;
  max-width: 480px;
}

.header__section-box.active {
  position: absolute;
  top: 61px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 5;
  padding: 25px;
  background-color: #222222;
}

@media screen and (min-width: 768px) {
  .header__section-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__section-box-nav {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .header__section-box-nav {
    margin-right: 44px;
  }
}

@media screen and (min-width: 768px) {
  .header__section-box-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

.header__section-box-nav-list-item {
  padding-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.header__section-box-nav-list-item:first-child {
  margin-top: 0;
}

.header__section-box-nav-list-item:hover {
  border-bottom: 3px solid #11749e;
  margin-bottom: -3px;
}

.header__section-box-nav-list-item:hover:first-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .header__section-box-nav-list-item:hover:first-child {
    margin-bottom: -3px;
  }
}

@media screen and (min-width: 768px) {
  .header__section-box-nav-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-right: 10px;
  }
  .header__section-box-nav-list-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__section-box-nav-list-item {
    margin-right: 48px;
  }
}

.item-link_line {
  border-bottom: 3px solid #11749e;
}

@media screen and (min-width: 768px) {
  .item-link_line {
    margin-bottom: -3px;
  }
}

.header__section-box-nav-list-item-link {
  font-family: "Myriad Pro";
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__section-box-nav-list-item-link {
    font-size: 15px;
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .header__section-box-nav-list-item-link {
    font-size: 20px;
  }
}

.header__section-box-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .header__section-box-list {
    margin-top: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__section-box-list-item {
  margin-left: 20px;
}

@media screen and (min-width: 1200px) {
  .header__section-box-list-item {
    margin-left: 24px;
  }
}

.header__section-box-list-item:first-child {
  margin-left: 0;
}

.header__section-box-list-item svg {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__section-box-list-item svg {
    width: 15px;
    height: 15px;
  }
}

.header__section-box-list-item:hover svg {
  fill: #11749e;
}

@media screen and (min-width: 768px) {
  .header__section-box-list-item {
    margin-bottom: -5px;
  }
}

.hero {
  padding-top: 20%;
  padding-bottom: 10%;
}

@media screen and (min-width: 500px) {
  .hero {
    padding-top: 25%;
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 140px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 275px;
    padding-bottom: 90px;
  }
}

.hero__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__box-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .hero__box-title {
    font-size: 90px;
    letter-spacing: -3px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__box-title {
    font-size: 153px;
    letter-spacing: -8px;
  }
}

.hero__box-text {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #11749e;
}

@media screen and (min-width: 768px) {
  .hero__box-text {
    font-size: 15px;
    letter-spacing: 11px;
    margin-right: -10px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__box-text {
    font-size: 25px;
    letter-spacing: 19px;
    line-height: 51px;
    margin-right: -25px;
  }
}

.hero__box-scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .hero__box-scroll {
    margin-top: 85px;
  }
}

.hero__box-scroll-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 10px;
}

@media screen and (min-width: 1200px) {
  .hero__box-scroll-text {
    font-size: 13px;
    line-height: 22px;
  }
}

.hero__box-scroll-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: none;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.hero__box-scroll-btn svg {
  fill: #f5f5f5;
}

@media screen and (min-width: 1200px) {
  .hero__box-scroll-btn svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero__box-scroll-btn {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__box-scroll-btn {
    width: 65px;
    height: 65px;
    margin-top: 20px;
  }
}

.button__mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .button__mobile {
    display: none;
  }
}

.button__mobile svg {
  height: 40px;
  width: 60px;
}

.button__mobile svg {
  cursor: pointer;
  height: 30px;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  width: 50px;
}

svg:not(:root) {
  overflow: hidden;
}

.button__mobile path.top,
.button__mobile path.bottom {
  stroke-dasharray: 240px, 950px;
}

.button__mobile path {
  fill: none;
  stroke: #ffffff;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 40px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.button__mobile path.middle {
  stroke-dasharray: 240px, 240px;
}

.button__mobile path {
  fill: none;
  stroke: #ffffff;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 40px;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.button__mobile.active path.top,
.button__mobile.active path.bottom {
  stroke-dashoffset: -650px;
}

.button__mobile path.top,
.button__mobile path.bottom {
  stroke-dasharray: 240px, 950px;
}

.button__mobile.active path.middle {
  stroke-dasharray: 1px, 220px;
  stroke-dashoffset: -115px;
}

.agency {
  padding-top: 85px;
  padding-bottom: 70px;
  background-color: #11749e;
}

@media screen and (min-width: 768px) {
  .agency {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .agency {
    padding-top: 170px;
    padding-bottom: 130px;
  }
}

.agency__box {
  position: relative;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .agency__box {
    width: 100%;
  }
}

.agency__box-fond {
  position: absolute;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 170px;
  color: #ffffff;
  opacity: 0.180;
  top: -100px;
  left: 93px;
}

@media screen and (min-width: 768px) {
  .agency__box-fond {
    top: -100px;
    left: 315px;
  }
}

@media screen and (min-width: 1200px) {
  .agency__box-fond {
    top: -110px;
    left: 480px;
    font-size: 247px;
    line-height: 261px;
    text-transform: uppercase;
  }
}

.agency__box-title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .agency__box-title {
    font-size: 38px;
    line-height: 45px;
  }
}

.agency__box-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  .agency__box-list {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .agency__box-list {
    margin-top: 150px;
  }
}

.agency__box-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 150px;
  margin-right: 10px;
}

.agency__box-list-item:nth-child(-n + 2) {
  margin-top: 0;
}

.agency__box-list-item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .agency__box-list-item {
    margin-top: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .agency__box-list-item {
    width: 266px;
  }
}

.agency__box-list-item-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #2e85aa;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.agency__box-list-item-block svg {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .agency__box-list-item-block svg {
    width: 34px;
    height: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .agency__box-list-item-block {
    width: 133px;
    height: 133px;
  }
}

.agency__box-list-item-title {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}

@media screen and (min-width: 1200px) {
  .agency__box-list-item-title {
    font-size: 18px;
    line-height: 36px;
  }
}

.agency__box-list-item-text {
  font-weight: normal;
  font-size: 8px;
  line-height: 15px;
  color: #ffffff;
  margin-top: 18px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .agency__box-list-item-text {
    font-size: 15px;
    line-height: 24px;
  }
}

.area {
  padding-top: 70px;
  padding-bottom: 90px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../../images/form.jpg);
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/form.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/form.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/form.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (min-width: 1200px) {
  .area {
    padding-top: 220px;
    padding-bottom: 175px;
  }
}

.area__box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .area__box {
    width: 100%;
  }
}

.area__box-fond {
  position: absolute;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 170px;
  color: #ffffff;
  opacity: 0.180;
  top: -100px;
  left: 105px;
}

@media screen and (min-width: 1200px) {
  .area__box-fond {
    top: -110px;
    left: 480px;
    font-size: 247px;
    line-height: 261px;
    text-transform: uppercase;
  }
}

.area__box-title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .area__box-title {
    font-size: 38px;
    line-height: 45px;
  }
}

.area__box-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 1200px) {
  .area__box-form {
    margin-top: 150px;
  }
}

.area__box-form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .area__box-form-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.area__box-form-block-label {
  display: block;
  margin-top: 20px;
}

.area__box-form-block-label:first-child {
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .area__box-form-block-label {
    width: 370px;
    margin-top: 0;
  }
}

.area__box-form-block-label-input {
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100%;
  background: none;
  padding: 5px;
  border: 1px solid #ffffff;
}

@media screen and (min-width: 1200px) {
  .area__box-form-block-label-input {
    padding: 20px;
  }
}

.area__box-form-label {
  display: block;
  width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .area__box-form-label {
    margin-top: 40px;
  }
}

.area__box-form-label-textarea {
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100%;
  background: none;
  padding: 5px;
  border: 1px solid #ffffff;
}

@media screen and (min-width: 1200px) {
  .area__box-form-label-textarea {
    padding: 20px;
    height: 150px;
  }
}

.area__box-form-btn {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #11749e;
  padding: 10px;
  margin-top: 25px;
  width: 120px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .area__box-form-btn {
    font-size: 24px;
    line-height: 24px;
    padding: 25px;
    margin-top: 50px;
    width: 230px;
  }
}

.footer {
  padding: 25px 0;
  background-color: #222222;
}

.footer__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__box-copy {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__box-copy {
    margin-bottom: 0;
  }
}

.footer__box-bee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box-bee p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0px;
  color: #ffffff;
}

.footer__box-bee img {
  margin-top: -12px;
}
/*# sourceMappingURL=main.css.map */