.advantages {
  display: none;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: block;
    width: 768px;
    margin-top: 50px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
  @media screen and (min-width: 1366px) {
    width: 1366px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}
.advantages-slider {
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: 1366px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 1920px;
  }
}
.slider_disable-transition {
  transition: none;
}
.advantages-slider-list {
  margin-right: -16px;
}
.slider__item {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  user-select: none;
}
.advantages-slider-list-link:hover,
.advantages-slider-list-link:focus {
  text-decoration: none;
  display: block;
  
}
.advantages-slider-list-link:hover .advantages-slider-list-link-box {
  transform: translateY(0);
}
.advantages-slider-list-img-box {
  position: relative;
  overflow: hidden;
}
.advantages-slider-list-link-img {
  @media screen and (min-width: 1920px) {
    width: 100%;
  }
}
.advantages-slider-list-link-box {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  
  transform: translateY(70%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1024px) {
    top: 85px;
  }
  @media screen and (min-width: 1366px) {
    top: 100px;
  }
  @media screen and (min-width: 1440px) {
    top: 130px;
  }
  @media screen and (min-width: 1920px) {
    top: 260px;
    transform: translateY(47%);
  }
}
.advantages-slider-list-link-box-title {
  display: inline;
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
  color: $primary-bg-color;
  border-bottom: 3px solid $secondary-bg-color;
  @media screen and (min-width: 1366px) {
    font-size: 36px;
  }
}
.advantages-slider-list-link-box-text {
  font-weight: normal;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 25px;
  color: $primary-bg-color;
  @media screen and (min-width: 1366px) {
    font-size: 18px;
    margin-top: 50px;
  }
}
.advantages-slider-button {    
  border: none; 
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.button-left {
  position: absolute;
  left: 15px;
  bottom: 160px;
}
.button-right {
  position: absolute;
  right: 25px;
  bottom: 160px;
}
.slider__control_hide {
  display: none;
}
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}