.agency {
    padding-top: 85px;
    padding-bottom: 70px;
    background-color: #11749e;
    @media screen and (min-width: 768px) {
        padding-top: 130px;
        padding-bottom: 130px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 170px;
        padding-bottom: 130px;
    }
}
.agency__box {
    position: relative;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        width: 100%;
    }
}
.agency__box-fond {
    position: absolute;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 170px;
    color: #ffffff;
    opacity: 0.180;
    top: -100px;
    left: 93px;
    @media screen and (min-width: 768px) {
        top: -100px;
        left: 315px;
    }
    @media screen and (min-width: 1200px) {
        top: -110px;
        left: 480px;
        font-size: 247px;
        line-height: 261px;
        text-transform: uppercase;
    }
}
.agency__box-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: 45px;
    }
}
.agency__box-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 150px;
    }
}
.agency__box-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 150px;
    margin-right: 10px;
    &:nth-child(-n + 2) {
        margin-top: 0;
    }
    &:nth-child(2n) {
        margin-right: 0;
    }
    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-right: 0;
    }
    @media screen and (min-width: 1200px) {
        width: 266px;
    }
}
.agency__box-list-item-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #2e85aa;
    border-radius: 50%;
    & svg {
        fill: #ffffff;
        @media screen and (min-width: 1200px) {
            width: 34px;
            height: 34px;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 133px;
        height: 133px;
    }
}
.agency__box-list-item-title {
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 15px;
    @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: 36px;
    }
}
.agency__box-list-item-text {
    font-weight: normal;
    font-size: 8px;
    line-height: 15px;
    color: #ffffff;
    margin-top: 18px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 15px;
        line-height: 24px;
    }
}