.area {
    padding-top: 70px;
    padding-bottom: 90px;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../../../images/form.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: 1200px) {
        padding-top: 220px;
        padding-bottom: 175px;
    }
}
.area__box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}
.area__box-fond {
    position: absolute;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 170px;
    color: #ffffff;
    opacity: 0.180;
    top: -100px;
    left: 105px;
    @media screen and (min-width: 1200px) {
        top: -110px;
        left: 480px;
        font-size: 247px;
        line-height: 261px;
        text-transform: uppercase;
    }
    
}
.area__box-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: 45px;
    }
}
.area__box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    @media screen and (min-width: 1200px) {
        margin-top: 150px;
    }
}
.area__box-form-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.area__box-form-block-label {
    display: block;
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }
    @media screen and (min-width: 1200px) {
        width: 370px;
        margin-top: 0;
    }
}
.area__box-form-block-label-input {
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    width: 100%;
    background: none;
    padding: 5px;
    border: 1px solid #ffffff;
    @media screen and (min-width: 1200px) {
        padding: 20px;
    }
}
.area__box-form-label {
    display: block;
    width: 100%;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
        margin-top: 40px;
    }
}
.area__box-form-label-textarea {
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    width: 100%;
    background: none;
    padding: 5px;
    border: 1px solid #ffffff;
    @media screen and (min-width: 1200px) {
        padding: 20px;
        height: 150px;
    }
}
.area__box-form-btn {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: #11749e;
    padding: 10px;
    margin-top: 25px;
    width: 120px;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
        font-size: 24px;
        line-height: 24px;
        padding: 25px;
        margin-top: 50px;
        width: 230px;
    }
}


// .feedback {
//     margin-top: 50px;
// }
// .feedback-container {
//     position: relative;
//     @media screen and (min-width: 768px) {
//         width: 400px;
//         margin: 0 auto;
//     }
//     @media screen and (min-width: 1366px) {
//         width: 100%;
//     }
// }
// .feedback-box-bg {
//     display: none;
//     @media screen and (min-width: 1366px) {
//         display: flex;
//         margin-top: 40px;
//     }
// }
// .feedback-box-bg-img {
//     @media screen and (min-width: 1366px) {
//         width: 900px;
//     }
//     @media screen and (min-width: 1920px) {
//         width: 1561px;
//     }
// }
// .feedback-block {
//     background-color: $primary-bg-color;
//     border-left: 10px solid $secondary-bg-color;
//     margin-top: 15px;
//     @media screen and (min-width: 1366px) {
//         position: absolute;
//         top: 125px;
//         right: 0;
//         width: 470px;
//         padding: 20px 20px 20px 10px;
//         margin-top: 0;
//     }
//     @media screen and (min-width: 1920px) {
//         top: 210px;
//         right: 0;
//         width: 540px;
//         border-left: 15px solid $secondary-bg-color;
//         padding: 50px 50px 50px 40px;
//     }
// }
// .feedback-from-title {
//     font-weight: bold;
//     font-size: 18px;
//     margin-bottom: 15px;
//     @media screen and (min-width: 1920px) {
//         font-size: 36px;
//         margin-bottom: 30px;
//     }
// }
// .feedback-from-box {
//     margin-bottom: 15px;
// }
// .feedback-from-label {
//     font-weight: normal;
//     font-size: 18px;
// }
// .feedback-from-input {
//     width: 100%;
//     height: 51px;
//     padding: 15px;
//     border: solid 1px $primary-text-color;
// }
// .feedback-from-button {
//     font-weight: bold;
//     font-size: 18px;
//     border: none;
//     height: 51px;
//     background-color: $secondary-bg-color;
//     color: $primary-bg-color;
//     text-transform: uppercase;
//     margin-bottom: 30px;
//     margin-left: 30%;
//     cursor: pointer;
//     &:hover,
//     &:focus {
//         background-color: $primary-bg-color;
//         color: $secondary-bg-color;
//     }
//     @media screen and (min-width: 1920px) {
//         width: 432px;
//         margin-left: auto;;
//     }
// }
// .feedback-from-text {
//     font-weight: normal;
//     font-size: 13px;
//     @media screen and (min-width: 1920px) {
//         font-size: 18px;
//     }
// }
// .feedback-from-text-tel {
//     font-weight: bold;
// }