.header_section-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    @media screen and (min-width: 1366px) {
        margin-top: 0;
    }
}
.header_section-button-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 9px 18px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-text-color;
    margin-right: 30px;
    background-color: $primary-bg-color;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $secondary-bg-color;
        color: $primary-bg-color;
        fill: $primary-bg-color;
    }
    @media screen and (min-width: 1920px) {
        font-size: 18px;
        padding: 10px 25px;
    }
}
.header_section-button-basket-icon {
    margin-right: 5px;
    @media screen and (min-width: 1920px) {
        width: 30px;
        height: 30px;
    }
}
.header_section-button-order {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 25px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-bg-color;
    background-color: $secondary-bg-color;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $primary-bg-color;
        color: $primary-text-color;
    }
    @media screen and (min-width: 1920px) {
        font-size: 18px;
        padding: 14px 46px;
    }
}