.header__section-box {
    display: none;
    max-width: 480px;
    &.active {
        position: absolute;
        top: 61px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        z-index: 5;
        padding: 25px;
        background-color: #222222;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        max-width: 100%;
        height: 100%;
    }
}
.header__section-box-nav {
    @media screen and (min-width: 768px) {
        margin-right: 40px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 44px;
    }
}
.header__section-box-nav-list {
    @media screen and (min-width: 768px) {
        display: flex;
        height: 100%;
    }
}
.header__section-box-nav-list-item {
    padding-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    &:first-child {
        margin-top: 0;
    }
    &:hover {
        border-bottom: 3px solid #11749e;
        margin-bottom: -3px;
        &:first-child {
            margin-bottom: 0;
            @media screen and (min-width: 768px) {
                margin-bottom: -3px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        margin-right: 48px;
    }
}
.item-link_line {
    border-bottom: 3px solid #11749e;
    @media screen and (min-width: 768px) {
        margin-bottom: -3px;
    }
}

.header__section-box-nav-list-item-link {
    font-family: "Myriad Pro";
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 15px;
        margin-bottom: -15px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
}

