.header__section-box-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        align-items: center;
    }
}
.header__section-box-list-item {
    margin-left: 20px;
    @media screen and (min-width: 1200px) {
        margin-left: 24px;
    }
    &:first-child {
        margin-left: 0;
    }
    & svg {
        fill: #ffffff;
        @media screen and (min-width: 768px) {
            width: 15px;
            height: 15px;
        }
    }
    &:hover {
        & svg {
            fill: #11749e;
        }
    }
    @media screen and (min-width: 768px) {
        margin-bottom: -5px;
    }
}